body{background-color:#efefef;}
#wrapper{margin:0 auto;text-align:left;background-color:#fff;}
#main-header{border-bottom:3px solid #efefef;margin-bottom:20px;padding-top:10px;}
#main-footer{border-top:3px solid #efefef;margin-top:10px;padding:10px 0;text-align:center;font-size:12px;}
#about{padding-top:5px;}
article .content,#archives section{clear:both;}
#archives section h3{text-align:right;font-size:64px;line-height:64px;color:#ccc;}
#archives section .date{text-align:right;}
#archives section ul{margin-left:0;list-style-type:none;}
nav.articles-nav{margin:5px 0;text-align:center;}
code{font-size:12px;font-family:menlo,consolas,"DejaVu sans Mono",monaco,monospace;border:1px solid #dedede;padding:0 3px;}
pre{background:#efefef;padding:1em;overflow:auto;}
pre code{padding:0;border:0;}
.img-left{float:left;margin:0 1em 1em 0;}
.img-right{float:right;margin:0 1em 0 1em;}
#logo{text-align:center;}
.hide{display:none;}
body{text-align:center;font:15px georgia,"times new roman",times,serif;line-height:1.4;background-color:#fff;}
h1,h2,h3,h4,h5,h6{font-family:helvetica,"helvetica neue",arial,verdana,sans-serif;letter-spacing:-.03em;color:#333;}
h1,h2,h3{font-weight:bold;}
:link,:visited{color:#4085cd;text-decoration:none;}
:link:hover,:visited:hover{text-decoration:underline;color:#008040;}
:link:focus,:visited:focus{outline:1px dotted invert}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
h1{font-size:25px}
h2{font-size:23px}
h3{font-size:21px}
h4{font-size:19px}
h5{font-size:17px}
h6{font-size:15px}
ol{list-style:decimal}
ul{list-style:disc}
li{margin-left:30px}
p,dl,hr,ol,ul,pre,table,address,fieldset{margin-bottom:1em}
h1,h2,h3,h4,h5,h6{margin-bottom:0.5em;}
blockquote{margin:5px 30px;border-left:3px solid #ccc;padding:0 10px;}
#main-header h1{font-size:48px;margin-bottom:0px;}
article{padding:0 0 10px 0;margin:0 0 10px 0;}
article header h2{margin:0;}
article header p{font-size:12px;margin-bottom:0;}
#home article{border-bottom:1px solid #efefef;}
#home article header{margin-bottom:0;padding-bottom:0;border:0;}
#home article#sticky{background-color:#f6f6f6;margin:0 0 1em 0em;padding:0.75em 0;border-width:1px;border-style:solid;border-color:#ddd;text-align:center;text-shadow:#fff 1px 1px 0;}
#home article#sticky header{margin:0;padding:0;}
#home article#sticky header h2{font-size:25px;margin:0;padding:0;}
aside{padding:0 0 0 1em;margin:0 0 1em 1em;border-left:2px solid #efefef;font-size:85%;font-style:italic;}
aside .title{font-size:13px;font-weight:bold;margin-bottom:0.5em;}
article aside{float:right;width:35%;}
#home aside{margin:0;}
#main-nav .nav-block{padding:10px;font-family:helvetica,"helvetica neue",arial,verdana,sans-serif;font-size:13px;border-bottom:1px solid #efefef;}
#main-nav .nav-subcol{float:left;width:48%;}
#main-nav .nav-subcol.first{margin-right:2%;}
#main-nav .nav-subcol.last{margin-left:2%;}
#main-nav .nav-block h3{margin:0 0 5px 0;font-size:18px;}
#main-nav .nav-block h4{margin:0 0 5px 0;font-size:12px;}
#main-nav .nav-block ul{list-style-type:none;margin:0;padding:0;}
#main-nav .nav-block p,#main-nav .nav-block li{margin:0;padding:0;}
#nav-archives #archives-search{margin-bottom:0.75em;}
#nav-archives #archives-search label{font-weight:bold;font-size:12px;}
#nav-search #search-field{width:100%;}
#nav-archives li{padding:0.25em 0;}
#archives-dates li{display:inline;}
#contact-form{margin-right:20%;}
#contact-form fieldset{margin:8px 0 7px;}
#contact-form fieldset{border-top:1px solid #efefef;}
#contact-form .form-row{padding:0.5em 0;margin:0;}
#contact-form .form-row label{width:30%;margin-right:1%;float:left;display:block;text-align:right;}
#contact-form .form-row input{width:20em;}
#contact-form #submit-row input{width:auto;margin-left:31%;}
#contact-form #message-row textarea{clear:both;width:68%;}
table td,table th{padding:2px 5px;text-align:left;}
table thead{border-bottom:1px solid #ccc;}
table tbody th,table tbody td{border-bottom:1px solid #efefef;}
sup{font-size:0.85em;vertical-align:top;}
#tweets ul{margin:0;padding:0;list-style-type:none;}
#tweets li{margin:0;padding:0.5em 0;}
.tweet_time a{color:#999;}
.tweet_avatar{vertical-align:middle;}
