.highlight .hll{background-color:#ffffcc}
.highlight{background:#f8f8f8;}
.highlight .c,.highlight .cm,.highlight .c1,.highlight .cs{color:#408080;font-style:italic}
.highlight .err{border:1px solid #FF0000}
.highlight .k,.highlight .gh,.highlight .gp,.highlight .gu,.highlight .kc,.highlight .kd,.highlight .kn,.highlight .kr,.highlight .nt{color:#008000;font-weight:bold}
.highlight .o,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo{color:#666666}
.highlight .cp{color:#BC7A00}
.highlight .gd{color:#A00000}
.highlight .ge{font-style:italic}
.highlight .gr{color:#FF0000}
.highlight .gi{color:#00A000}
.highlight .go{color:#808080}
.highlight .gs{font-weight:bold}
.highlight .gt{color:#0040D0}
.highlight .kp{color:#008000}
.highlight .kt{color:#B00040}
.highlight .m{color:#666666}
.highlight .s{color:#BA2121}
.highlight .na{color:#7D9029}
.highlight .nb{color:#008000}
.highlight .nc{color:#0000FF;font-weight:bold}
.highlight .nn{color:#0000FF;font-weight:bold}
.highlight .no{color:#880000}
.highlight .nd{color:#AA22FF}
.highlight .ni{color:#999999;font-weight:bold}
.highlight .ne{color:#D2413A;font-weight:bold}
.highlight .nf{color:#0000FF}
.highlight .nl{color:#A0A000}
.highlight .nv{color:#19177C}
.highlight .ow{color:#AA22FF;font-weight:bold}
.highlight .w{color:#bbbbbb}
.highlight .sb,.highlight .sc,.highlight .s2,.highlight .sh{color:#BA2121}
.highlight .sd{color:#BA2121;font-style:italic}
.highlight .se{color:#BB6622;font-weight:bold}
.highlight .si{color:#BB6688;font-weight:bold}
.highlight .sx{color:#008000}
.highlight .sr{color:#BB6688}
.highlight .s1{color:#BA2121}
.highlight .ss{color:#19177C}
.highlight .bp{color:#008000}
.highlight .vc,.highlight .vg,.highlight .vi{color:#19177C}
.highlight .il{color:#666666}
