body {
  text-align: center;
	font: 15px georgia, "times new roman", times, serif;
	line-height: 1.4;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	font-family: helvetica, "helvetica neue", arial, verdana, sans-serif;
	letter-spacing: -.03em;
	color: #333;
}
h1, h2, h3 {
  font-weight: bold;
}
a, a:visited {
  color: #4085cd;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #008040;
}

/*body{font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}*/
a:focus{outline:1px dotted invert}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
h1{font-size:25px}
h2{font-size:23px}
h3{font-size:21px}
h4{font-size:19px}
h5{font-size:17px}
h6{font-size:15px}
ol{list-style:decimal}
ul{list-style:disc}
li{margin-left:30px}
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:1em}

blockquote {
  margin: 5px 30px;
  border-left: 3px solid #ccc;
  padding: 0 10px;
  
}

#main-header h1 {
  font-size: 48px;
  margin-bottom: 0px;
/*  color: #efefef;*/
}
article {
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
}
article header h2 {
  margin: 0;
}
article header p {
  font-size: 12px;
/*  margin-bottom: ;*/
}
article .chapo {
  line-height: 1.7em;
  font-weight: bold;
}


#main-nav .nav-block {
  padding: 10px;
	font-family: helvetica, "helvetica neue", arial, verdana, sans-serif;
	font-size: 13px;
  border-bottom: 1px solid #efefef;
/*  padding-bottom: 5px;*/
}
#main-nav .nav-block h3 {
/*  margin: 15px -10px 5px -10px;*/
  margin: 0 0 5px 0;
/*  text-transform: uppercase;*/
/*  font-weight: normal;*/
  font-size: 18px;
}

#main-nav .nav-block ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-nav .nav-block p,
#main-nav .nav-block li {
  margin: 0;
  padding: 0;
}

#archives li {
  padding: 0.25em 0;
}
.archive-a {
  font-size: 1.5em;
/*  display: block;*/
/*  padding-bottom: -10px;*/
  line-height: 0.85em;
}
.archive-m {
  font-size: 0.85em;
  line-height: 0.85em;
}