---
layout: home
title: PLUG &ndash; Provence Linux User Group
---
<article id="sticky">
  <header>
    <h2><a href="/r/188">Prochaine réunion : le vendredi 4 novembre 2011</a></h2>
  </header>
</article>

<div class="grid_6 alpha">
  {% for post in site.posts limit:10 %}
  <article>
    <header>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p>publié le <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %B %Y" }}</time> dans <a href="/archives/categories.html" class="category">{{ post.categories }}</a>{% if post.author != null %} écrit par {{post.author}}{% endif %}{% if post.post_id != null %} - <a href="{{ site.root_uri }}/r/{{ post.post_id }}" rel="shorturl" title="Pratique pour copier/coller dans un tweet, un statut facebook, …">lien court</a>{% endif %}</p>
    </header>
  </article>
  {% endfor %}

  <nav class="articles-nav">
    <p>&larr; voir les <a href="/archives/dates.html" rel="archives" title="Archives des articles">articles plus anciens</a></p>
  </nav>
</div>

<div class="grid_3 omega">
  <aside id="tweets"><h3 class="title">Les derniers tweets de <a href="http://twitter.com/plugfr/" class="twitter" rel="external">@plugfr</a></h3></aside>
</div>
