<script language="javascript" src="/js/jquery.tweet.js" type="text/javascript" defer="defer"></script>
<script src="/js/main.js" type="text/javascript" charset="utf-8" defer="defer"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15383374-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();

</script>
<script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&amp;lang=fr"></script>