<span id="lewagon-location" itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
  <meta itemprop="name" content="La Base Marseille" />
  <meta itemprop="url" content="https://labasemarseille.org/" />
  <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
    <meta itemprop="street-address" content="2 rue Pierre Roche" />
    <meta itemprop="postal-code" content="13004" />
    <meta itemprop="locality" content="Marseille" />
  </span>
  <span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
    <meta itemprop="latitude" content="43.3099175" />
    <meta itemprop="longitude" content="5.4011546" />
  </span>
</span>
