<span id="laboate-location" itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
  <meta itemprop="name" content="La Bo[a]te" />
  <meta itemprop="url" content="http://laboate.com" />
  <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
    <meta itemprop="street-address" content="35 rue de la Paix" /> 
    <meta itemprop="postal-code" content="13001" /> 
    <meta itemprop="locality" content="Marseille" />
  </span>
  <span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
    <meta itemprop="latitude" content="43.292199" />
    <meta itemprop="longitude" content="5.372918" />
  </span>
</span>