<span id="lafabulerie-location" itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
  <meta itemprop="name" content="La Fabulerie" />
  <meta itemprop="url" content="http://lafabulerie.com" />
  <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
    <meta itemprop="street-address" content="10, Boulevard Garibaldi" />
    <meta itemprop="postal-code" content="13001" />
    <meta itemprop="locality" content="Marseille" />
  </span>
  <span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
    <meta itemprop="latitude" content="43.29697" />
    <meta itemprop="longitude" content="5.3808366" />
  </span>
</span>
