<span id="lamaisonduchant-location" itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
  <meta itemprop="name" content="La Maison du Chant" />
  <meta itemprop="url" content="https://www.lesvoiesduchant.org" />
  <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
    <meta itemprop="street-address" content="49 rue Chape" />
    <meta itemprop="postal-code" content="13004" />
    <meta itemprop="locality" content="Marseille" />
  </span>
  <span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
    <meta itemprop="latitude" content="43.300563" />
    <meta itemprop="longitude" content="5.392600" />
  </span>
</span>
