<header id="main-header" class="grid_12">
  <div id="logo" class="grid_3 alpha">
    <h1><a href="/" rel="Index" title="&larr; retour à l'accueil">
      <img src="/img/logo_plug_grand.gif" alt="PLUG" title="PLUG &ndash; Provence Linux User Group" height="111" width="200" />
    </a></h1>
  </div>
  <div class="grid_9 omega">
    <h1>Provence Linux User Group</h1>
    <p id="baseline">
      Le <strong><abbr title="Provence Linux User Group">PLUG</abbr></strong> est une association (loi 1901) qui regroupe des passionnés d'<strong>informatique</strong> et <strong>logiciels libres</strong> et leur propose des échanges en ligne (<a href="/mailing-lists.html">mailing-lists</a>, <a href="irc://irc.freenode.net/%23plugfr" rel="external">IRC</a>, <a href="http://twitter.com/plugfr" rel="external">twitter</a>, …) et des <strong>réunions à Marseille</strong> (chaque 1<sup>er</sup> vendredi du mois à <a href="http://laboate.com/" rel="external">La Bo[a]te</a>).
    </p>
  </div>
  <div class="clear"></div>
</header>

