<header id="main-header" class="grid_12" itemscope itemtype="http://schema.org/Organization" itemref="laboate-location">
  <div id="logo" class="grid_3 alpha">
    <h1><a href="/" rel="up" title="&larr; retour à l'accueil" itemprop="url">
      <img src="/img/logo_plug_grand.gif" alt="PLUG" title="PLUG &ndash; Provence Linux User Group" height="111" width="200" itemprop="logo" />
    </a></h1>
  </div>
  <div class="grid_9 omega">
    <h1><span itemprop="name">Provence Linux User Group</span></h1>
    <p id="baseline">
      Le <strong><abbr title="Provence Linux User Group">PLUG</abbr></strong> est une association (loi 1901) basée à <strong>Marseille</strong> qui regroupe des passionnés d'<strong>informatique</strong> et <strong>logiciels libres</strong>, propose des échanges en ligne (<a href="/association/mailing-lists/">mailing-lists</a>, <a href="/association/irc/">IRC</a>, <a href="http://twitter.com/plugfr" rel="external">twitter</a>, …) et organise des <strong>réunions mensuelles</strong> (en général le 1<sup>er</sup> vendredi du mois à <a href="http://laboate.com/" rel="external">La Bo[a]te</a>).
    </p>
  </div>
  <div class="clear"></div>
</header>
