<nav id="main-nav" class="grid_3 pull_9">
  <div id="about" class="nav-block">
    <a href="/a-propos.html">à propos du PLUG</a>
  </div>
  <div id="nav-mailing-lists" class="nav-block">
    <h3>listes par e-mail</h3>
    abonnez-vous aux listes publiques
    <ul>
      <li><a href="/mailing-lists.html#plug-list">les annonces de l'association</a></li>
      <li><a href="/mailing-lists.html#plug-discuss">les discussions courantes</a></li>
      <li><a href="/mailing-lists.html#plug-tech">les discussions techniques</a></li>
    </ul>
  </div>
  <div id="nav-irc" class="nav-block">
    <h3>canal <abbr title="Internet Relay Chat">IRC</abbr></h3>
    retrouvez nous à <a href="irc://irc.freenode.net/%23plugfr" rel="external" class="irc">#plugfr</a> sur Freenode
  </div>
  <div id="nav-misc" class="nav-block">
    <h3>et aussi</h3>
    <ul>
      <li>le <a href="/articles.xml" rel="feed" rel="feed">flux RSS des articles</a></li>
      <li><a href="http://twitter.com/plugfr" rel="external" title="Twitter">@plugfr</a> sur Twitter</li>
      <li><a href="http://www.plugfr.org/wiki/" rel="external">Wiki</a></li>
      <li><a href="http://planet.plugfr.org/" rel="external">PlanetPlug</a></li>
    </ul>
  </div>
  <div id="nav-archives" class="nav-block">
    <h3>archives</h3>
    <form id="archives-search">
      <label for="search-field">recherche</label><input type="search" name="q" id="search-field" value="" placeholder="mot(s) clé(s)" autosave="plug_srch" results="5" tabindex="1" size="20" />
    </form>
    <div class="nav-subcol first">
      <h4>par catégories</h4>
      <ul id="archives-categories">
      {% if site.categories.emploi.size > 0 %}
        <li><a href="/archives-categories.html#emploi" title="les articles de la catégorie 'emploi'">emploi</a></li>
      {% endif %}
      {% if site.categories.reunions.size > 0 %}
        <li><a href="/archives-categories.html#reunions" title="les articles de la catégorie 'réunions'">réunions</a></li>
      {% endif %}
      {% if site.categories.informations.size > 0 %}
        <li><a href="/archives-categories.html#informations" title="les articles de la catégorie 'informations'">informations</a></li>
      {% endif %}
      {% if site.categories.divers.size > 0 %}
        <li><a href="/archives-categories.html#divers" title="les articles de la catégorie 'divers'">divers</a></li>
      {% endif %}
      </ul>
    </div>
    <div class="nav-subcol last">
      <h4>par années</h4>
      <ul id="archives-dates">
      {% assign year_prev = null %}
      {% for post in site.posts %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% if year != year_prev %}
          <li><a href="/archives-dates.html#{{ year }}" title="les articles publiés en {{ year }}">{{ year }}</a></li>
        {% endif %}
        {% capture year_prev %}{{ year }}{% endcapture %}
      {% endfor %}
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <div id="nav-map" class="nav-block">
    <h3>plan pour venir</h3>
    <a href="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;q=la+boate+marseille&amp;sll=43.292345,5.373291&amp;sspn=0.001066,0.002411&amp;ie=UTF8&amp;ll=43.300072,5.373344&amp;spn=0.065089,0.154324&amp;z=13&amp;iwloc=B&amp;cid=4764866130825728813" title="Trouver La Bo\[a\]te sur Google Maps" rel="external"><img  src="/img/map_laboate_200x150.gif" alt="Plan pour La Bo\[a\]te" /></a>
  </div>
</nav>