<span id="nexus-bar-location" itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
  <meta itemprop="name" content="Nexus Bar" />
  <meta itemprop="url" content="https://www.facebook.com/nexusmarseille" />
  <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
    <meta itemprop="street-address" content="52 cours Julien" />
    <meta itemprop="postal-code" content="13006" />
    <meta itemprop="locality" content="Marseille" />
  </span>
  <span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
    <meta itemprop="latitude" content="43.2944964" />
    <meta itemprop="longitude" content="5.3829229" />
  </span>
</span>
