<span id="pavillon-m-location" itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
  <meta itemprop="name" content="Pavillon M" />
  <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
    <meta itemprop="street-address" content="Place Villeneuve-Bargemon," /> 
    <meta itemprop="postal-code" content="13002" /> 
    <meta itemprop="locality" content="Marseille" />
  </span>
  <span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
    <meta itemprop="latitude" content="43.296616" />
    <meta itemprop="longitude" content="5.370288" />
  </span>
</span>