<link rel="stylesheet" href="/css/reset.css?{{ site.time | date: "%Y%m%d%H%M%S" }}" />
<link rel="stylesheet" href="/css/text.css?{{ site.time | date: "%Y%m%d%H%M%S" }}" />
<link rel="stylesheet" href="/css/960.css?{{ site.time | date: "%Y%m%d%H%M%S" }}" media="screen, projection" />
<link rel="stylesheet" href="/css/main.css?{{ site.time | date: "%Y%m%d%H%M%S" }}" media="screen, projection" />
<link rel="stylesheet" href="/css/pygments.css?{{ site.time | date: "%Y%m%d%H%M%S" }}" />
<link rel="stylesheet" href="/css/print.css?{{ site.time | date: "%Y%m%d%H%M%S" }}" media="print" />