<span id="urbanprod-location" itemprop="location" itemscope itemtype="http://data-vocabulary.org/Organization">
  <meta itemprop="name" content="Urban Prod" />
  <meta itemprop="url" content="http://www.urbanprod.net" />
  <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
    <meta itemprop="street-address" content="18 rue Colbert" />
    <meta itemprop="postal-code" content="13001" />
    <meta itemprop="locality" content="Marseille" />
  </span>
  <span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
    <meta itemprop="latitude" content="43.299365" />
    <meta itemprop="longitude" content="5.374364" />
  </span>
</span>
