<!DOCTYPE html>
<html lang="fr">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
{% include stylesheets.html %}
<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
<link href="/feeds/articles.xml" rel="alternate" title="Flux RSS des articles du PLUG" type="application/atom+xml" />
<title>{{ page.title }} :: PLUG &ndash; Provence Linux User Group</title>
<script src="/js/jquery-1.4.2.min.js?{{ site.time | date: "%Y%m%d%H%M%S" }}" type="text/javascript" charset="utf-8"></script>
<!--[if lte IE 8]>
<script src="/js/html5.js?{{ site.time | date: "%Y%m%d%H%M%S" }}" type="text/javascript"></script>
<![endif]-->
</head>
<body id="{{ page.body_id }}">
  <div id="wrapper" class="container_12">
    {% include main-header.html %}
    <hr class="hide" />
    <div id="main-content" class="grid_9 push_3">
      {{ content }}
    </div>
    <hr class="hide" />
    {% include main-nav.html %}
    {% include main-footer.html %}
  </div>
{% include bottom_scripts.html %}
</body>
</html>

