---
layout: default
---
<article>
  <header>
    <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
    <p>publié le <time datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date: "%d %B %Y" }}</time> dans <a href="/archives/categories.html" class="category">{{ page.categories }}</a>{% if page.author != null %} écrit par {{page.author}}{% endif %}</p>
  </header>
  {{ content }}
</article>
<nav class="articles-nav">
  <p>
    {% if page.previous %}
    <span class="nav-previous">&larr; <a href="{{ page.previous.url }}" rel="prev" title="{{ page.previous.title }}" accesskey="p">article précédent</a></span>
    {% endif %}
    {% if page.previous and page.next %}
    <span class="pipe">|</span>
    {% endif %}
    {% if page.next %}
    <span class="nav-next"><a href="{{ page.next.url }}" rel="prev" title="{{ page.next.title }}" accesskey="n">article suivant</a> &rarr;</span>
    {% endif %}
  </p>
</nav>
